/**
* @name base16 Discord
* @author @bypass_
* @version 0.1.0
* @description Built using Aether and Pywal
* @source https://github.com/imbypass/base16-Discord
**/

/* import the parent */
@import url('https://imbypass.github.io/base16-discord/omarchy-discord.theme.css');

:root {
    --color00: #000000;
    --color01: #d89695;
    --color02: #5e8484;
    --color03: #e7dbaa;
    --color04: #5e8484;
    --color05: #d89695;
    --color06: #e7dcdc;
    --color07: #ffffff;
    --color08: #a4a4a4;
    --color09: #9c6565;
    --color10: #3d5555;
    --color11: #a79d62;
    --color12: #3d5555;
    --color13: #9c6565;
    --color14: #fcfafa;
    --color15: #ffffff;
}
