/* ---- 💫 https://github.com/JaKooLit 💫 ---- */
/* Rofi Config for Google Search) */

@import "~/.config/rofi/config.rasi" 

/* ---- Window ---- */
window {
	width: 40%;
}

/* ---- Inputbar ---- */
inputbar {
    enabled: true;
}

/* ---- Mainbox ---- */
mainbox {
	padding: 20px;
    children: [ "entry"];
}

/* ---- Entry ---- */ 
entry {
	placeholder: "🔎 Google Search";
	text-color: White;
}

